<!-- <p> <%=@card.question %></p> -->
<!-- <form>
	<label for="flashcard answer"> Your Answer: </label>
	<input type="text" name="correct" value="answer here"/>
    <input type="submit" value="submit"/> 
</form> -->