<h1> <%= @card.question %> </h1>
<form action = '/decks/:id/play' method='POST'>
	<label for="flashcard answer"> Your Answer: </label>
	<input type="text" name="correct" value="answer here"/>
    <input type="submit" value="submit"/>
    <input type="hidden" value="#{<%=@card.answer %>}"
</form>

